<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Task Tracker{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="navbar">
        <a href="{% url 'task_list' %}">Tüm görevler</a>
        <a href="{% url 'task_create' %}">Yeni Görev</a>
        <a href="{% url 'completed_tasks' %}">Tamamlanmış</a> 
        <a href="{% url 'ongoing_tasks' %}">Devam Eden</a>    
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>