{% extends 'base.html' %}

{% block title %}Görev Listesi{% endblock %}

{% block content %}
<h1>Görevler</h1>
<ul class="task-list">
    {% for task in tasks %}
    <div class="task-date">{{ task.created_at|date:"Y-m-d H:i" }}</div>
    <li class="task-item">
        <div class="task-header">
            <div class="task-title">{{ task.title }}</div>
            <div class="task-description">{{ task.description }}</div>  
         </div> 
        <div class="task-actions">
                        <a href="{% url 'complete_task' task.id %}" title="Tamamla"><i class="fas fa-check"></i></a>
            <a href="{% url 'task_update' task.id %}" title="Düzenle"><i class="fas fa-pen"></i></a>
            <a href="{% url 'task_delete' task.id %}" title="Sil"><i class="fas fa-trash"></i></a>
        </div>  
        
    </li>
    {% empty %}
    <li>Görev yok.</li>
    {% endfor %}
</ul>
{% endblock %}
